# offset.py 本体

In [1]:
import pandas as pd

## 1. offset

In [2]:
def offset(data):
    data = data - data.values[0,:]
    
    return data

## 2. dummy_sub

In [18]:
def dummy_sub(data, dummy, dum_ch):
    data = data.add(-dummy[dum_ch].values[:], axis=0)

    return data

## 3. sma

In [4]:
def sma(data, sma_window):
    data = data.rolling(window=sma_window, min_periods=1).mean()
    
    return data

# テスト部分

In [5]:
from ASR import input

In [6]:
raw_data_csv = "./InputFiles/normal_strain.csv"
condition_csv= "./InputFiles/input.csv"
dummy_ch_csv = "./InputFiles/dummy_ch.csv"

In [7]:
b,c =  input.csv(condition_csv, dummy_ch_csv)

In [8]:
data = input.strain("FDB-08", raw_data_csv, b)
du = input.dummy("FDB-08", raw_data_csv, b, c)

In [14]:
data = offset(data)
du = offset(du)

In [21]:
dummy_sub(data, du, "CH014")

,CH010,CH011,CH012,CH014,CH015,CH016,CH017,CH018,CH019,CH021,CH022,CH023,CH024,CH025,CH027
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,2,-1,0,-3,-2,2,0,2,-2,-1,-1,-2,-1,-2
2,2,4,-1,0,-3,-1,4,-1,5,-2,-2,-2,-2,-2,-2
3,3,7,-2,0,-5,-2,5,-1,6,-2,-2,-2,-3,-3,-2
4,3,7,-3,0,-6,-2,5,-2,7,-4,-3,-4,-4,-3,-4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4650,-74,71,-86,0,-131,-73,-22,-113,-144,-90,-125,-90,-90,-44,-39
4651,-75,70,-87,0,-132,-75,-23,-113,-145,-91,-126,-91,-91,-45,-40
4652,-74,71,-86,0,-131,-73,-22,-112,-144,-90,-125,-91,-90,-44,-39
4653,-73,71,-86,0,-131,-74,-22,-112,-144,-90,-125,-90,-90,-44,-39
4654,-74,71,-86,0,-131,-74,-22,-112,-144,-90,-125,-90,-90,-44,-39

In [60]:
sma(data, 1000)

,CH010,CH011,CH012,CH014,CH015,CH016,CH017,CH018,CH019,CH021,CH022,CH023,CH024,CH025,CH027
0,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1.500000,2.000000,0.500,1.000000,-0.500000,0.000000,2.000000,1.000000,2.000,0.000000,0.500000,0.500000,0.000000,0.500000,0.000000
2,2.666667,3.666667,1.000,1.666667,-0.333333,0.666667,3.666667,1.333333,4.000,0.333333,0.666667,0.666667,0.333333,0.666667,0.333333
3,3.750000,5.500000,1.250,2.250000,-0.500000,1.000000,5.000000,1.750000,5.500,0.750000,1.000000,1.000000,0.500000,0.750000,0.750000
4,4.800000,7.000000,1.600,3.000000,-0.400000,1.600000,6.200000,2.200000,7.000,1.000000,1.400000,1.200000,0.800000,1.200000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4650,74.642000,220.284000,63.180,150.259000,18.534000,74.975000,125.184000,37.005000,20.705,58.340000,24.058000,58.519000,58.839000,103.668000,107.944000
4651,74.643000,220.285000,63.180,150.261000,18.533000,74.976000,125.187000,37.005000,20.767,58.341000,24.058000,58.520000,58.840000,103.672000,107.949000
4652,74.644000,220.286000,63.180,150.262000,18.533000,74.978000,125.190000,37.005000,20.829,58.342000,24.058000,58.521000,58.841000,103.676000,107.953000
4653,74.646000,220.287000,63.181,150.263000,18.532000,74.979000,125.193000,37.005000,20.891,58.343000,24.058000,58.523000,58.842000,103.680000,107.957000
4654,74.647000,220.288000,63.181,150.264000,18.531000,74.980000,125.196000,37.005000,20.953,58.345000,24.058000,58.524000,58.843000,103.684000,107.962000